<!-- <div class="navbar navbar-fixed-top"> -->
<section class="navbar">
   <%= link_to "", root_path, id: "ilogo" %>
				
  <div class="navbar-inner" id="navbar1">
    <div class="container">
      <!-- <nav> -->
        <ul class="nav">
					<li><%= link_to "Payroll Services", root_path %></li>
					<li><%= link_to "Employee Benefits", root_path %></li>
					<li><%= link_to "Payroll 101", root_path %></li>
					<li><%= link_to "Hiring Employees", root_path %></li>
					<li><%= link_to "Support", root_path %></li>
        </ul>
      <!-- </nav> -->
    </div>
  </div>
</section>
<div class="navbar hide" id="dock">
	<div class="container">	
		<div class="nav-wrapper" id="navbar2">	
			<ul class="nav">
				<li><%= link_to "Payroll Services", root_path %></li>
				<li><%= link_to "Employee Benefits", root_path %></li>
				<li><%= link_to "Payroll 101", root_path %></li>
				<li><%= link_to "Hiring Employees", root_path %></li>
				<li><%= link_to "Support", root_path %></li>
			</ul>
		</div>
		<div class="nav-wrapper" id="navbar3">
			<ul class="nav">
				<li><%= link_to "Features", "#features" %></li>
				<li><%= link_to "How it Works", "#works" %></li>
				<li><%= link_to "Pricing", "#pricing" %></li>
				<li><%= link_to "Reviews", "#reviews" %></li>
				<li></li>
			</ul>		
		</div>
		<img class="center" src="/assets/arrow-up.png" alt="" />
	</div>
</div>
<div class="nav-container">
	<div id="hero">
		<h1>Hero</h1>
	</div>
	<div id="navbar4">
		<div class="container">		
			<ul class="nav">
				<li id="nav-features"><%= link_to "Features", "#features" %></li>
				<li id="nav-works"><%= link_to "How it Works", "#works" %></li>
				<li id="nav-pricing"><%= link_to "Pricing", "#pricing" %></li>
				<li id="nav-reviews"><%= link_to "Reviews", "#reviews" %></li>
			</ul>		
		</div>
	</div>
	<section id="features">
		<h1>Features</h1>
	</section>
	<section id="works">
		<h1>How it Works</h1>
	</section>
	<section id="pricing">
		<h1>Pricing</h1>
	</section>
	<section id="reviews">
		<h1>Reviews</h1>
	</section>
</div>